{% extends 'tracker/base.html' %}

{% block content %}

<div>
  <h3>Your highest rated game</h3>
  {{ highest_rated_game.title }} by {{ highest_rated_game.publisher }}
</div>

<div>
  <h3>Purchase this game next</h3>
  {{ buy_next_game.title }} on {{ buy_next_game.platform }}
</div>

<div>
  <table>
    <caption><h3>Inventory</h3></caption>
    <tbody>
      <tr><td>{{ num_games_played }}</td><td>Games Played</td></tr>
      <tr><td>{{ num_games_nplayed }}</td><td>Games Not Played</td></tr>
      <tr><td>{{ num_games_own }}</td><td>Games Owned</td></tr>
      <tr><td>{{ num_games_want }}</td><td>Games to Buy</td></tr>
      <tr><td>{{ tot_games_tracked }}</td><td>Total Games Tracked</td></tr>
      </tbody>
    </table>
</div>

<div>
  <table>
    <caption>Game Tracker</caption>
    <thead>
      <tr>
        <th><a href="{% url 'list' %}?ordering=title&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Game Title</a></th>
        <th><a href="{% url 'list' %}?ordering=publisher&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Publisher</a></th>
        <th><a href="{% url 'list' %}?ordering=platform&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Platform</a></th>
        <th><a href="{% url 'list' %}?ordering=genre&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Genre</a></th>
        <th><a href="{% url 'list' %}?ordering=personal_rating&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">My Rating</a></th>
        <th><a href="{% url 'list' %}?ordering=own_status&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Own?</a></th>
        <th><a href="{% url 'list' %}?ordering=play_status&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Played?</a></th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
      <tr>
        <td><a href="{% url 'detail' pk=game.pk %}">{{ game.title }}</a></td>
        <td>{{ game.publisher }}</td>
        <td>{{ game.platform }}</td>
        <td>{{ game.genre }}</td>
        <td>{{ game.personal_rating }}</td>
        <td>{{ game.own_status }}</td>
        <td>{{ game.play_status }}</td>
        <td><a href="{% url 'update' pk=game.pk %}">Edit</a></td>
        <td><a href="{% url 'delete' pk=game.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

  </body>
</html>
