{% extends 'tracker/base.html' %}
{% load tracker_extras %}
{% block content %}

<div class="container">
  <a class="btn btn-primary" role="button" href="{% url 'pub_create' %}">Add Publisher</a>

  <div class="list">
    <table>
      <caption>Publishers</caption>
      <thead>
        <tr>
          <th>Publishers</th>
        </tr>
      </thead>
      <tbody>
        {% for publisher in publishers %}
        <tr>
          <td>{{ publisher.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a class="btn btn-outline-primary" href="{% url 'games:list' %}">Back to Game Tracker</a>
</div>

{% endblock %}
