<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Saves</title>
  </head>
  <body>

  <header>
    <h1>GAME SAVES</h1>
    <a href="{% url 'add_game' %}">Add Game</a>
  </header>

  <table>
    <caption>Game Tracker</caption>
    <thead>
      <tr>
        <th>Game Title</th>
        <th>Publisher</th>
        <th>Platform</th>
        <th>Genre</th>
        <th>My Rating</th>
        <th>Own?</th>
        <th>Played?</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
      <tr>
        <td>{{ game }}</td>
        <td>{{ game.publisher }}</td>
        <td>{{ game.platform }}</td>
        <td>{{ game.genre }}</td>
        <td>{{ game.personal_rating }}</td>
        <td>{{ game.own_status }}</td>
        <td>{{ game.play_status }}</td>
        <td><a href="{% url 'edit_game' pk=game.pk %}">Edit</a></td>
        <td><a href="{% url 'delete_game' pk=game.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  </body>
</html>
