/******BASE STYLES*******/

html, body {
  height: 100%;
  margin-top: 10px;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  margin-bottom: 20px;
}

a {
  color: rgba(16, 163, 168, 1);
  text-decoration: none;
}

a:hover {
  color: rgba(168, 16, 163, 0.85);
  text-decoration: none;
}

td a {
  color: rgba(16, 87, 168, 0.85);
}

td a:hover {
  color: rgba(168, 16, 87, 0.85);
}

form p label {
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
}

.buttons {
  display: block;
}

.save_button, .cancel_button {
  margin-top: 6px;
}

.save_button {
  margin-right: 15px;
}

#developer_links, #publisher_links {
  margin-top: 15px;
}

#developer_links a {
  margin-right: 15px;
}

.list {
  margin-top: 20px;
}

/******MEDIA QUERIES*******/

@media (max-width: 576px) {
  #summary_table {
    display: none;
  }

  #tracker_table {
    margin-top: 25px;
  }
}
