html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  margin-bottom: 20px;
}

form p label {
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
}

.buttons {
  display: block;
}

.btn {
  margin-top: 10px;
}

.btn-primary {
  margin-right: 10px;
}

/******MEDIA QUERIES*******/
@media (max-width: 576px) {
  #summary_table {
    display: none;
  }
}
